# Put your Python dependencies in this file
# More information about Pipfile can be found at https://github.com/pypa/pipfile


[dev-packages]

pytest = "*"
isort = "*"
"flake8" = "*"
pytest-tap = "*"


[packages]

click = "*"
honcho = "*"
